.subjectButton{
    width: 140px;
    height: 40px;
    background-color: #e2e2e2;
    font-size: 16px;
    border: 1px solid #6666;
    border-radius: 40px;
    margin-right: 15px;
    transition: all 0.3s;
}

.subjectButton:hover{
    background-color: #e2e2e2;
    transform: translate(0, -3px);
    cursor: pointer;
}

.mainTopicsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.backButtonContainer{
    width: 100%;
}

.buttonBack{
    padding: 0 20px;
}

.topicMenuContainer{
    display: flex;
    width: 40%;
    @media  screen and (max-width: 768px){
        width: auto;
        margin-top: 30px;
        
    }

}

.menuButtonTopic{
    margin: 0 30px;
}

.topicsContainer{
    height: 420px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 10px 5px;


    @media  screen and (max-width: 668px){
        width: auto;
        justify-content: center;
        
    }
    &::-webkit-scrollbar {
        display: none;
      }
}
.topicsContainerSlider{
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: relative;
    height: 100%;
    scrollbar-width: none;
    flex-wrap: wrap;
    @media  screen and (max-width: 768px){
        flex-wrap: nowrap;
        
    }
}

.topicCard{
    width: 220px;
    flex: 0 0 110px;
    border: 1px solid #6666;
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    position: relative;
    @media  screen and (max-width: 768px){
        padding: 5px;
        
    }

}

.topicButtonContainer{
    position: absolute;
    bottom: 0;
    right: 0;
}

.titleTopicContainer{
    width: 100px;
    margin: 5px ;
}