.doneContainer{
  height: 100%;
  width: 50vw;
  padding: 0 40px;

  @media screen and (max-width: 768px){
    width: 100vw;
    padding: 0;
    
  }
  

  
}
.doneButtonContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  height: 84px;
  
  
}

.subjectButton{
  width: 140px;
  height: 40px;
  background-color: #e2e2e2;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #6666;
  border-radius: 40px;
  margin-right: 15px;
  transition: all 0.3s;
  

}

.subjectButton:hover{
  background-color: #e2e2e2;
  transform: translate(0, -3px);
  cursor: pointer;
}

.topicButton{
  width: 140px;
  height: 40px;
  background-color: #e2e2e2;
  font-size: 16px;
  border: 1px solid #6666;
  border-radius: 40px;
  transition: all 0.3s;


}

.topicButton:hover{
  background-color: #e2e2e2;
  transform: translate(0, -3px);
  animation: gradient 5s ease infinite; /* Define la animación */
  background: linear-gradient(45deg, #f800f0b1, #fe38f8e6, #2d03d2bc, #1d0092bc); /* Define el gradiente */
  background-size: 200% 200%; /* Asegura que el gradiente sea lo suficientemente grande */
  color: white;
  cursor: pointer;
}

@keyframes gradient { /* Define la animación */
	0% {
		background-position: 0% 50%; /* Define la posición inicial del fondo */
	}
	50% {
		background-position: 100% 50%; /* Define la posición final del fondo */
	}
	100% {
		background-position: 0% 50%; /* Define la posición inicial del fondo, es decir, para que se poonga en bucle*/
	}
}



.mainMenuContainer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px){
    width: 90%;
    
  }

}

.mainTitleContainer{
  width: 85%;
  border: 1px solid #6666;
  height: 40px;
  border-radius: 15px;
  box-shadow: 0 3px 8px #0CF924;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.doneTitle{
  font-size: 14px;
  font-weight: 300;
}

.hide_showButton{

  width: 15%;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 300;
  background-color: transparent;
  color: #e2e2e2;
  
}

.hide_showButton:hover{
  cursor: pointer;
  
}

.doneTasksContainer{
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y:auto;
  position: relative;
  height: 100%;
  scrollbar-width: none; /* especifica el ancho de la barra de desplazamiento */

  &:-webkit-scrollbar {
    display: none;
  }
}

/*.taskContainer{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  width: 90%;
  border: 1px solid #666;
  border-radius: 40px;
  height: 80px;
}

.iconContainer{
  width: 30px;
  height: 30px;
  background-color: #3285f2;
  margin: 0 20px;
}

.title{
  font-size: 14px;
  font-weight: 500;
}
.subject{
  font-size: 12px;
  font-weight: 300;
}

h3{
  margin: 0;
  .topic{
  font-size: 12px;
  font-weight: 300;
  color: #a7ec04; 
  margin: 0 30px;
}*/

.state{
  font-size: 12px;
  font-weight: 300;
  color: #24FF00; 
  position: absolute;
  left: 45%;
  margin: 0 30px;

  @media screen and (max-width: 1024px){
    display: none;
    
  }
}

.roll_backButton{
  width: 112px;
  height: 30px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #9712FF;
  border-radius: 40px;
  margin-right: 15px;
  transition: all 0.3s;
  position: absolute;
  right: 0;
  color: #e2e2e2;

  @media screen and (max-width: 768px){
    width: 100px;
    
  }

}

.topicDone{
  font-size: 12px;
  font-weight: 300;
  margin: 0 30px;
  position: absolute;
  left: 60%;

  @media screen and (max-width: 1024px){
    left: 42%;
    font-size: 10px;
    
  }
}

.roll_backButton:hover{
  
  transform: translate(0, -3px);
  cursor: pointer;
}