:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #0F0F0F;
  color: #d5d5d5; 
  scrollbar-width: none; /* especifica el ancho de la barra de desplazamiento */


}
body {
  margin: 0;
  min-height: 100vh;
}

button{
  cursor: pointer;

}
.loadingContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
