/* .headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.imageContainerHeader{
  width: 50px;
}

.image{
  width: 100%;
}

.nav{
  width: 200px;
}


.navList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.profileImageContainer{
  width: 50px;
  border-radius: 50%;
}
.profileImage{
  width: 100%;
}

.logoutButton{
  background-color: #e2e2e2;
  border: none;
  border-radius: 5px;
} */