.imageContainer{
  width: 80px;
}

.imageLogo{
  width: 100%;
}

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 550px;
  background-color: #0f0f0f;
  padding: 50px 0 ;
  border: 1px solid #666666;
  border-radius: 25px;
}

.signUpForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;

}

.backgroundContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 570px;

  background-image: url('/mercurialBackground.png');
  background-size: cover;
  background-repeat: no-repeat;


}

.formTitle{
  font-size: 20px;
  font-weight: 200;
  margin: 20px 0;

}

.mainSingUpContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.singUpButton{
  width: 130px;
  margin: 30px 0;
  height: 30px;
  background-color: #fff;
  border: none;
  border-radius: 7px;
  transition: all 0.3s ;
}

.singUpButton:hover{
  background-color: #cecece;
  transform: translate(0, -2px)
  
}

.inputsContainers{
  padding: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.border{
  border-bottom: 1px solid #666666;
}

.inputsContainers > div{
  margin-bottom: 15px;
  width: 60%;

}


