.mailRecoverMainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
}

.mailRecoverContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 30%;
    height: 50%;
    background-color: #0d0d0d;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #666;

    @media screen and (max-width: 1096px){
        width: 75%;
      
    }
}

.mailRecoverForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mailRecoverTitle{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 300;
}
.recoverButtonContainer{
  margin-top: 20px;
}